html { 
  background: url(../images/bubblesboy-mid.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1em;
  font-size: 4em;
  color: #577881;
}

a {
  color: #28364E;
  text-decoration: none;
  font-size: 0.4em;
}

a:hover {
  color: #67919E;
  text-decoration: none;
}

h1 {
  font-weight: lighter;
  margin-bottom: 8px;
}

#titlebox {
  text-align: center;
  margin: 0 auto;
}

ul {
  padding: 0;
}

.li-horizontal {
  display: inline;
  list-style-type: none;
  padding: 0.5em;
  font-size: 16px;
  font-variant: small-caps;

}

.li-horizontal:hover {
  display: inline;
  list-style-type: none;
  padding: 0.5em;
  font-size: 16px;
  font-variant: small-caps;
}